@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Outfit;
}

/* MUST be last */
html {
  scroll-behavior: smooth !important;
}
